button {
    border: 0; // сброс толщины границ
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/


header .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NinjaMainLogo{
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.NinjaMainLogo span{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 35px;
}

.logo_img{
    display: inline-block;
    width: 128px;
    height: 64px;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 310px;
    margin-top: 30px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links li{
    margin-right: 38px;
    font-family: 'Raleway' , sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 6px;
    letter-spacing: 1.27px;
    border-bottom: 5px solid #4BA87D;
}

.sign_up_btn{
    width: 168px;
    height: 41px;
    background-color: #4BA87D;
    color: white;
    font-family: 'Raleway' , sans-serif;
    font-weight: 100;
    font-size: 17px;
    border-radius: 10px;
}


/*MAIN*/

main{
    height: 2648px;
    background: center / cover no-repeat url('./img/background.svg');
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1088px;
    height: 383px;
    margin: 0 auto 320px auto;
}

.hero-left-side{
    z-index: 2;
    margin-top: 70px;
}

.hero-left-side h1{
    font-family: 'Playfair Display' , serif;
    font-size: 59px;
    width: 489px;
    height: 142px;
    margin-bottom: 28px;
}

.hero-left-side .desc{
    font-family: 'Roboto Light' , sans-serif;
    font-size: 19px;
    width: 446px;
    height: 52px;
    line-height: 26px;
}

.hero-photo{
    width: 680px;
    height: 383px;
    position: relative;
    margin-top: 200px;
    top: -20px;
    z-index: 1;
    left: -20px;
}

.hero-buttons :nth-child(1){
    margin-top: 35px;
    background-color: #4BA87D;
    color: white;
    font-family: 'Roboto Thin' , sans-serif;
    font-weight: 1000;
    font-size: 21px;
    border-radius: 10px;
    width: 200px;
    height: 65px;
}

.hero-buttons :nth-child(2){
    margin-top: 35px;
    border: 3px solid #4BA87D;
    background-color: white;
    color: #4BA87D;
    font-family: 'Roboto Thin' , sans-serif;
    font-weight: 1000;
    font-size: 21px;
    border-radius: 10px;
    margin-left: 44px;
    width: 200px;
    height: 65px;
}


/* VIDEO PART*/

.video-part{
    display: flex;
    justify-content: center;
    margin:0 10px 100px 10px;
}

.video-part h1{
    position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Playfair Display' , sans-serif;
    font-size: 60px;
    color: white;
    margin-top: 210px;
}

.video-part button{
    position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: 'Raleway' , sans-serif;
    font-size: 21px;
    background-color: white;
    width: 200px;
    height: 65px;
    color: #4BA87D;
    margin-top: 400px;
}

.video-img{
    z-index: 1;
    width: 944px;
    height: 628px;
}

.sec-3{
    width: 1098px;
    margin: 0 auto;
    display: flex;
}

.card-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 430px;
    width: 300px;
    box-shadow: 0 3px 10px 1px rgba(0 , 0 , 0 , 0.2);
}

.card-1 img{
    width: 300px;
    object-fit: cover;
    height: 430px;
}

.card-1 .white-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 25px;
}

.card-1 .white-box span{
    font-family: 'Roboto Light' , sans-serif;
    font-size: 16px;
}

.learn-more{
    color: #4BA87D;
    font-family: "Roboto Light", sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0 ;
    background-color: white;
}


.card-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 3px 10px 1px rgba(0 , 0 , 0 , 0.2);
    margin-left: 47px;
    margin-top: 88px;
    height: 430px;
}

.card-2 img{
    width: 300px;
    object-fit: cover;
    height: 369px;
}

.card-2 .white-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 25px;
}

.card-1 .white-box span{
    font-family: 'Roboto Light' , sans-serif;
    font-size: 16px;
}


.card-2 .white-box span{
    font-family: 'Roboto Light' , sans-serif;
    font-size: 16px;
}

.card-2 .learn-more{
    color: #4BA87D;
    font-family: "Roboto Light", sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0 ;
    background-color: white;
}


.description{
    margin-top: 100px;
    width: 365px;
    margin-left: 20px;
}

.description h1{
    font-family: 'Playfair Display' , sans-serif;
    font-size: 44px;
}

.description span{
    font-family: 'Roboto Light' , sans-serif;
    font-size: 19px;
}


.sec-4{
    width: 1090px;
    height: 530px;
    margin: 130px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
}


.gallery img{
    width: 340px;
    height: 240px;
    margin-right: 32px;
}

.sec-4 h1{
    margin-top: 40px;
    font-family: 'Playfair Display' , sans-serif;
    font-size: 44px;
    width: 904px;
    height: 125px;
    text-align: center;
}

.email{
    display: flex;
    width: 670px;
    max-height: 110px;
    margin: 0 auto;
}

.email input{
    display: block;
    width: 420px;
    height: 45px;
    font-family: "Roboto Light", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: black;
    align-items: center;
    justify-content: center;
    border: 1px solid #9F9F9F;
    border-radius: 0.25rem;
    margin-right: 27px;
}

.email .join{
    width: 168px;
    height: 45px;
    background-color: #4BA87D;
    color: white;
    font-family: 'Raleway' , sans-serif;
    font-weight: 100;
    font-size: 17px;
    border-radius: 10px;
}

.brands{
    width: 944px;
    height: 220px;
    margin: 0 auto 146px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brands h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 44px;
    margin-bottom: 43px;
}

.brands .logos{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    width: 930px;
    height: 50px;
    margin: 0 auto;
}

.logos img{
    max-width: 170px;
    max-height: 44px;
    margin-right: 65px;
}


.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 366px;
    background-color: #4BA87D;
    margin-bottom: 73px;
}

.get-started h1{
    font-family: "Playfair Display",sans-serif;
    font-size: 60px;
    color: white;
}

.get-started button{
    background-color: white;
    color: #4BA87D;
    width: 200px;
    height: 65px;
    font-size: 21px;
    line-height: 25px;
    font-weight: 800;
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: center;
    margin: 0 300px 0 0;
}

.logo-foot{
    margin-right: 200px;
}

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Roboto Light",sans-serif;
    font-size: 19px;
    line-height: 22px;
    font-weight: 550;
    grid-row-gap: 10px;
    grid-column-gap: 57px;
    margin-top: 40px;
}


hr{
    max-width: 1150px;
    margin: 50px auto 40px auto;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.info .text{
    font-family: "Roboto Thin",sans-serif;
    font-size: 15px;
    margin-right: 400px;
}

.info .name{

    font-family: "Roboto Thin",sans-serif;
    font-size: 15px;
}

/*ADAPTIVE*/

/*DONE*/
@media screen and (max-width: 1280px) {
    .container{
        width: 1140px;
    }

    .NinjaMainLogo{
        margin-left: 250px;
    }
    .nav_links{
        margin-right: 300px;
        margin-left: 200px;
    }
    .cards{
        display: flex;
    }
    .sec-3 .description{
        margin-left: 30px;
    }
    .sec-4{
        margin-bottom: 150px;
    }

    .sec-4 .gallery{
        display: flex;
    }
    .sec-4 .gallery-up{
        display: flex;
    }
}

/*DONE*/
@media screen and (max-width: 1199px) {
    .container{
        width: 960px;
    }

    .NinjaMainLogo{
        justify-content: center;
    }
    .nav_links{
        margin-top: 20px;
        margin-left: 50px;
    }

    .hero-left-side{
        margin-left: 50px;
    }
    .hero-photo{
        top: -20px;
        z-index: 1;
        left: -180px;
    }

    .cards{
        display: flex;
    }
    .description{
        width: 250px;
    }
    .sec-3 .description h1{
        font-size: 35px;
    }

    .sec-3 .description span{
        font-size: 19px;
    }

    .sec-4{
        margin-bottom: 150px;
    }

    .sec-4 .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-4 .gallery-up{
        display: flex;
        margin: 30px 0 ;
    }

}


/*Добавить бургер*/
@media screen and (max-width: 991px) {
    .container{
        width: 720px;
    }
    .NinjaMainLogo{
        justify-content: center;
    }
    .nav_links{
        margin-top: 20px;
        margin-left: 200px;
    }
    .links{
        display: none;
    }

    .hero-left-side{
        margin-left: 50px;
    }

    .hero-photo{
        top: -20px;
        z-index: 1;
        left: -350px;
    }

    .sec-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec-3 .cards{
        display: flex;
        justify-content: start;
        margin: 0 50px 0 50px;
    }
    .sec-3 .description{
        width: 600px;
        margin: 0 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sec-4 .gallery{
        margin-right: 350px;
    }

    .sec-4 h1{
        margin-right: 350px;
    }
    .sec-4 .email{
        margin-right: 350px;
    }

    .brands h1{
        margin-right: 200px;
    }
    .brands .logos{
        width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .logo-foot{
        margin-left: 50px;
        margin-right: 50px;
    }
    .footer-links{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*Доделать все начиная с hero*/
@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .NinjaMainLogo{
        justify-content: center;
    }

    .nav_links{
        margin-top: 20px;
        margin-left: 100px;
    }
    .links{
        display: none;
    }

    .hero{
        margin-bottom: 500px;
    }
    .hero-left-side{
        margin-top: 0;
    }

    .hero-photo{
        width: 700px;
        height: 400px;
        top: 300px;
        z-index: 1;
        left: -550px;
    }

    .sec-3 .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -600px;
    }

    .card-1{
        margin-left: 47px;
    }
    .card-2{
        margin-top: 20px;
    }

    .sec-3 .description{
        width: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        margin-left: 0;
    }

    .gallery{
        margin-left: -200px;
        margin-top: 700px;
    }
    .gallery-up{
        flex-direction: column;
    }
    .gallery-1{
        margin-bottom: 30px;
    }

    .sec-4 h1{
        text-align: start;
        width: 400px;
        margin-left: -180px;
        margin-bottom: 180px;
    }

    .email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -200px;
        margin-bottom: 150px;
    }
    .email input{
        margin-bottom: 10px;
    }

    .brands{
        margin-top: 700px;
        margin-left: -100px;
    }

    .brands h1{
        width: 400px;
    }

    .footer-links{
        grid-template-columns: 1fr 1fr ;
    }

}

@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }
    header{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links{
        display: none;
    }
    main{
        width: 400px;
    }


}